.Page {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
}
.cartItem {
 width: 100%;
 height: 250px;
 
 
 

}

.cart .cartItem {
  width: 100%;
  display: grid;
  border-top: 1px solid lightgrey;
  grid-template-columns: 25% 25%;
  justify-content: space-between;
  padding: 1%;
  
  
} 

.PageCartModal .cartItem {

width: 90%;
height:35%;
display: flex;
flex-direction: row;
margin-left: 5%;
margin-bottom: 5%;


}

.PageHeader {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 20px 20px;
}

.PageContent {
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
}

.PageTab {
  font-size: 20px;
  cursor: pointer;
  
}

.PageTabActive {
  color: green;
}

.PageTabs {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 20px;
}

.PageProduct {
  width:25vw;
  height:35vh;
}

.flex {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.flex div {

  width: 95%;
  height: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
  


}

.PageProduct:hover {

  
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  
}



.lowOpacity {opacity: 0.5;}



.PageProductInfo {
  
  width: 100%;
  height:auto;

  
}

.PageProductInfo::after {
  display:table;
  clear: both;
  content: "";
  


}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;

}

.PageProducts {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap:8vh;
  margin-bottom: 20vh;
}

.PageCartModalMask {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.1);
  z-index: 10;
}

.PageCartModal {
  position: relative;
  width: 15vw;
  height: 50vh;
  background-color: white;
  margin-right: 40px;
  overflow-x: auto;
}

.PageCartIcon {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
}

.PageCartCounter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  right: -20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.btn {
  width: 80%;
  height: 5vh;
  background-color: rgba(0, 0, 255, 0.656);
  color: white;
  
  
}

.btnModal {

  margin-top: 10%;
}

 .categoryName {
   font-size: 20px;
   margin: 0 auto;
   

 }

 .imageContainer {
  float: left;
  width:500px;
  height:400px;
  margin-left: 20%;
  margin-top: 0px;
 }

 .imageContainer div:first-child {
  width: 100%;
  height: 100%;
  background-position:center bottom;
  background-repeat: no-repeat;
  background-size: cover;

 }

 .cart .cartImage {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 
 .cartImage {
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .productInfoContainer {
  float:right;
  width: 300px;
  height: 500px;
  margin-right: 10%;
  

 }

 .cart .cartItemContainer {
  
  width: 100%;
  height: auto;
  border: 2px dotted black;

 }

 .cartItemContainer {
  
  width: 100%;
  height: auto;
  border: 2px dotted black;
 }

 .hidden {
  visibility: hidden;
 }

 .itemCounterContainer {
  width: 30px;
  height: 100%;
  display: grid;
  align-content: space-between;
  grid-template-rows: repeat(3,max-content) ;
  place-items: center;
  
 }


 .PageProductInfo .image {

  width:100% ;
  height: 100%;
 }
 
 .itemCounterContainer .borders {
  border:1px solid black;
  width: 15px;
  text-align: center;
 }

 .PageCartModal .itemCounterContainer {display: none;}

 .cartImage div {
     width: 100%;
     text-align: center;
    

 }

 .cartHeader {

 display: grid;
 grid-template-columns: auto auto;
 justify-content: space-between;

 }

 .PageProducts .itemCounterContainer {display:none;}

 .stock {text-align: center;
         font-size:xx-large;}


  
  .attribute {width:30px;
              height: 30px;
            margin:10px;
          background-color: aliceblue;}

  .sizeAttributes .attribute{width: 50px;}

  .sizeAttributes .colorAttributes {margin-left:-15vw;}

  .attributeActive { border:4px solid black;}